<!-- Topページ -->
<!-- <body>
	<h1>ようこそ Bookers へ！</h1>
	<p><strong>Bookers</strong> では、さまざまな書籍に関するあなたの意見や</p>
	<p>印象を共有し交換することができます</p>
	<p>
		<a href="#">start</a>
	</p>
</body> -->
<!-- ここまで -->

<body>
	<h1 class="index-h1">Books</h1>
	<!-- tableを作るタグ -->
	<table>
		<!-- table head -->
		<thead>
			<tr>
				<th>Title</th>
				<th>Body</th>
				<!-- columnが幾つ必要か。table一番右のshow,edit,destroyの三つのcolumns。 -->
				<th colspan="3"></th>
			</tr>
		</thead>
		<!-- table body -->
		<% @books.each do |book| %>
			<tbody>
				<tr>
					<td><!-- BookのTitleがリピートするようにする --><%= book.title %>
					</td>
					<td><!-- BookのBodyがリピートするようにする --><%= book.body %>
					</td>
					<td><%= link_to "Show", book_path(book) %></td>
					<td><%= link_to "Edit", edit_book_path(book) %></td>
					<td><%= link_to "Destroy", book_path(book), method: :delete, "data-confirm" => "Are you sure?" %></td>
				</tr>
			</tbody>
		<% end %>
	</table>
</body>