<body>
	<h1>ようこそ Bookers へ！</h1>
	<p><strong>Bookers</strong> では、さまざまな書籍に関するあなたの意見や</p>
	<p>印象を共有し交換することができます</p>
	<p>
		<a href="#">start</a>
	</p>
</body>


<div class="title">
	<h1>Books</h1>
</div>

<di class="right-container">
	<p>Title</p>
	<%= @books.each do |book| %>
		<h3 class="book-title"><%= book.title %></h3>
</di>

<div class="middle-container">
	<p>Body</p>
	<%= @books.each do |book| %>
		<h3 class="book-body"><%= book.body %></h3>
</div>

<div class="left-container">
	<%= link_to "Show", book_path(@book) %>
	<%= link_to "Edit", book_path(@book) %>
	<%= link_to "Destroy", book_path(@book), method: :delete %>
</div>