<body>
	<% if flash[:create] %>
		<div class="flash">
			<%= flash[:create] %>
		</div>
	<% end %>
	<% if flash[:update] %>
		<div class="flash">
			<%= flash[:update] %>
		</div>
	<% end %>

	<p class="show-p">Title: <span class="show-span"><%= @book.title %></span></p>

	<p class="show-p">Body: <span class="show-span"><%= @book.body %></span></p>

	<a class="show-a"><%= link_to "Edit", edit_book_path(@book) %> | <%= link_to "Back", books_path(@book) %></a>
</body>

<!-- 完成-->